$zIndex1: 1;
$zIndex10: 10;
$zIndex11: 11;
$zIndex100: 100;
$zIndex101: 101;
$zIndex1000: 1000;
$zIndex2000: 2000;
$zIndex9999: 9999;

$borderColor: "#212529";
$borderCorlorLight: "#dee2e6";


$backgroundColorLight: rgb(239, 237, 243);
$backgroundColorDark: rgb(250, 245, 243);
$fontColorLight: rgb(43, 20, 83);
$fontColorDark: rgb(43, 20, 83);