@import "../../var";

.full-container {
  max-width: 1140px;
  margin: 0 auto;
}

.products {
  display: grid;
  grid-template-columns: [left] repeat(12, [col-start] 1fr [col-end]) [right];
  grid-column-gap: 1.5vw;
  grid-row-gap: 1.5vh;

  .item {
    grid-column: span 4 / auto;
    padding: 48px 0px;
  }

  .more {
    grid-column: left / right;
    text-align: center;
  }
}
